@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    }
    } */
    
    :root {
      --background: #ffffff;
      --foreground: #ededed;
      
      --primary: #2563EB;
      --primary-hover: #1D4ED8;
      --primary-light: #FFFFFF;
      --primary-gray: #9196A0;
      
      --success: #22C55E;
      --success-foreground: #0D7831;
      --success-background: #DCFCE7;
      --success-border: #86efac; 

      --warning: #eab308;
      --warning-foreground: #5B5300;
      --warning-background: #FEF9C3;
      --warning-border: #fde047;

      --error: #ef4444;
      --error-foreground: #9F2222;
      --error-background: #FEE2E2;
      --error-border: #fca5a5;


      --font-sans: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
